body {
  background-color: #ffffff;
}

.jumbotron {
  background-color: #800080;
  text-align: center;
}

h1, h2, #formNameLabel {
  color: #ffffff;
}

.form-group {
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
}

#nameInput {
  width: 50%;
  margin: auto;
}

#numberInput {
  width: 75%;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

#showName {
  font-weight: bold;
}

#formNumber {
  margin-top: 0px;
}

.resultGroup {
  margin-top: 40px;
}

.resultGroup ul {
  list-style-type: none;
}

li {
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 5px;
}

#hint, #reverseOption, #enterNewNumber, #giveUp {
  margin-top: 20px;
  margin-bottom: 0px;
}

#answer {
  background-color: #ffffff;
}

.pseudoLink {
 cursor: pointer;
 color: #0088cc;
}

.pseudoLink:hover {
  text-decoration: underline;
}

#thanksForPlaying {
  text-align: center;
}

#gamePage, #resultWithValues, #resultReversed, #hint, #reverseOption, #enterNewNumber, #giveUp, #answer {
  display: none;
}