body {
  background-color: #ffffff;
}

#formNumber, #resultWithValues, #resultReversed, #hint, #reverseOption, #newNumber {
  display: none;
}

.resultGroup ul {
  list-style-type: none;
  /* text-align: center; */
}

.pseudoLink {
 cursor: pointer;
 color: #0088cc;
}

.pseudoLink:hover {
  text-decoration: underline;
}